<!DOCTYPE html>
<html>
<head>
  <title>Cat Got Skills</title>
  <link type="text/css" rel="stylesheet" href="styling.css">
</head>
<body>
<h2>Click a gif and revel in the glory of CAT POWER!</h2>
<nav>Back to the <a href="/">homepage</a></nav>
  <ul id="origUl">
    <li><img src="http://s3-ec.buzzfed.com/static/enhanced/webdr06/2013/4/6/9/anigif_enhanced-buzz-32505-1365253605-4.gif"></li>
    <li><img src="http://img.gawkerassets.com/img/195i9537tnpd7gif/original.gif"></li>
    <li><img src="http://crazyhyena.com/imagebank/g/cat-jump-over-bed-crazy-gif.gif"></li>
    <li><img src="http://i299.photobucket.com/albums/mm315/Justfiller/Bullet-time-cat-jump.gif"></li>
  </ul>

  <ul id="newUl">
  </ul>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="scripting.js"></script>
</body>
</html>
